
UnityProject/UserSettings/Layouts/default-2021.dwlt
UnityProject/UserSettings/Search.settings

#Luban
Tools/Luban/
Tools/Luban.ClientServer/
Configs/.cache.meta
GenerateDatas/

#FileServer
Tools/FileServer/AssetRoot

UnityProject/ProjectSettings/CommonBurstAotSettings.json
UnityProject/ProjectSettings/BurstAotSettings_StandaloneWindows.json

#GameEventSourceGenerator
Tools/GameEventSourceGenerator/*/.idea
Tools/GameEventSourceGenerator/*/bin
Tools/GameEventSourceGenerator/*/obj

#openspec
openspec/
UnityProject/Assets/Screenshots/
UnityProject/Assets/AssetRaw/UIRaw/Atlas/misc/
UnityProject/UserSettings/
UnityProject/Assets/Screenshots.meta
UnityProject/Assets/_Recovery/
*.ndproj
UnityProject/.reasonix/
UnityProject/AI图片/
UnityProject/ExtractedElements/
UnityProject/GeneratedPuzzleMockup/
UnityProject/GeneratedPuzzleMockup_ImageGenTest/
UnityProject/tmpiyltpgv7.webp
美术/
UnityProject/.utmp/
Fantasy/